<div class="center">
	<h1>Hello, this is Blank 4!</h1>
	<p class="tac">
		<?php if ($isLogged): ?>
			<a href='/admin'>go to admin</a>
		<?php else: ?>
			<a href="#signin">Sign in</a>&nbsp;|&nbsp;<a href="#signup">Sign up</a>
		<?php endif; ?>
	</p>
</div>
<?= $SIGN; ?>